/node_modules
/public/storage
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
/Admin/Http/Controllers/backups
/Admin/Http/Requests/backups
/Admin/Recipes/backups
/Admin/Repositories/backups
/Admin/Repositories/Contracts/backups
/app/Models/backups
/public/uploads
/
/assets
app/Admin/Http/Controllers/backups
app/Admin/Http/Requests/backups
app/Admin/Recipes/backups
app/Admin/Repositories/backups
app/Admin/Repositories/Contracts